.body{
    margin: 0;

}
nav {
  display: flex;
  justify-content: space-between;   
  align-items: center;              
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-family: 'Poppins', sans-serif;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.nav-left img {
  width: 50px;
  height: 50px;
}


.bar a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-left: 25px;
  font-size: 15px;
}

.bar a:hover {
  color: #00704A; 
}
.nav-right{
    display: flex;

}
#sign-in{
   border-radius: 25px;
   border: 1px solid black;
   margin-left: 50px;
   font-size: 13px;
   font-family:'SoDo Sans', 'Poppins', sans-serif;
}
.nav-right .b-2{
   border: 2px solid black;
   width: 100px;
   color: white;
    font-size: 13px;
   font-family:'SoDo Sans', 'Poppins', sans-serif;
    background-color:black ;
    border-radius: 30px;
    margin-left: 20px;
}


.nav-right a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0 20px;

}

.nav-right i {
  color: #00704A; 
  margin-right: 8px;
  font-size: 18px;
}
.bar2{
    height:100px;
    background-color: #32462f;
    color: white;
    font-size: 20px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.order{
    width: 180px;
    height: 50px;
    font-weight: bold;
    background-color: #32462f;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px solid white;
}
.container-1{
    display: flex;
    margin-top: 20px;
}
.left1 img{
    display: flex;
    width: 100%;
    height: 400px;
}
.right1{
    width: 100%;
    height: 400px;
   background-color: #006242; 
    text-align: center;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.75;
    font-size: 19px;
    color: white;

}
.button1{
    width: 120px;
    height: 35px;
    border-radius: 30px;
    color: white;
   background-color: var(--colorBlack20);
   border: 1px solid white;
   font-size: 15px;
   font-family:'SoDo Sans', 'Poppins', sans-serif;
}
.container-2{
    display: flex;
    margin-top: 20px;
}
.left2{
    
    background-color: #9e0025;
    font-family: var(--typefacePrimary);
    height: 600px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}
.button2{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: rgb(30, 124, 30);
    border-radius: 50px;
    font-size: 17px;
    border: 1px  ;
    background-color: white;
    font-weight: 400;
}
.left2 h1{
    margin-top: 200px;
}
.right2 img{
    height: 600px;
    width: 100%;

}
.container-3{
    display: flex;
    margin-top: 20px;
}
.left3 img{
    height: 600px;
    width: 100%;
    

}
.right3{
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #006242; 
    color:white;
     font-family: var(--typefacePrimary);
    font-size: 24px;
    line-height: 1.75;
}
.button3{
     width: 120px;
    height: 35px;
    border-radius: 30px;
    color: white;
   background-color: var(--colorBlack20);
   border: 1px solid white;
   font-size: 15px;
   font-family:'SoDo Sans', 'Poppins', sans-serif;

}
.container-4{
    display: flex;
    margin-top: 20px;
}
.left4{
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #a91d38;
    color: white;
     font-family: var(--typefacePrimary);
    font-size: 24px;
    line-height: 1.75;
}
.button4{

      width: 120px;
    height: 35px;
    border-radius: 30px;
    color: white;
   background-color: var(--colorBlack20);
   border: 1px solid white;
   font-size: 15px;
   font-family:'SoDo Sans', 'Poppins', sans-serif;

}
.right4 img{
    width: 100%;
    height: 600px;
}
.container-5{
     display: flex;
    margin-top: 20px;
}
.left5 img{
    width: 100%;
    height: 400px;
}
.right5{
    width: 100%;
    height: 400px;
   background-color: #f1f0e4;
    text-align: center;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.75;
    font-size: 19px;
    color: #32472f;
}
.button5{
      width: 120px;
    height: 35px;
    border-radius: 30px;
    color:#f1f0e4 ;
   background-color: #32472f;
   border: 1px solid white;
   font-size: 15px;
   font-family:'SoDo Sans', 'Poppins', sans-serif;
}
.container-6 {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    border-bottom: 1.5px solid #ccc;
    justify-content: center;
    font-size: 16px;
    line-height:1.8 ;
    
}
.writing {
    padding-top: 80px;
}
.footer{
    display: flex;
    border-bottom: 1.5px solid #ccc;
}

.footer-container1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
   
}
.footer-container1 a{
    margin-bottom: 30px;
    text-decoration: none;
    color: rgb(73, 72, 72);
}
.footer-container2{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
   
}
.footer-container2 a{
    margin-bottom: 30px;
    text-decoration: none;
    color: rgb(73, 72, 72);
}
.footer-container3{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
   
}
.footer-container3 a{
    margin-bottom: 30px;
    text-decoration: none;
    color: rgb(73, 72, 72);
}.footer-container4{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
   
}
.footer-container4 a{
    margin-bottom: 30px;
    text-decoration: none;
    color: rgba(73, 72, 72, 0.672);
}
.icon i{
    font-size: 34px;
    margin-top: 40px;
    margin-left: 20px;
}
.bottom-footer{
      width: 100%;
    height:500px;
}
.bottom a{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.bottom p{
    margin-top: 50px;
     font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
   color:rgba(126, 124, 124, 0.574);
   margin-left: 30px;
}